.container {
  display: flex;
  justify-content: center;
  @media (max-width: 576px) {
    padding: 0px 24px;
  }  
  overflow: hidden;
  background-color: rgb(240, 248, 255);
}
  
.widthLimit {
    max-width: 100%;
    @media (min-width: 576px) {
      max-width: 1200px;
    }
}
  