.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 36px;
}
  
.description {
    font-size: 20px;
    font-weight: bold;
    max-width: 600px;
    text-align: center;
    font-family: "SchoolFont";
}

.logo {
    width: 100%;
}

.image {
    width: 125%;
    @media (max-width: 576px) {
        width: 120%;
    }
}