.container {
    display: flex;
    justify-content: left;
    gap: 96px;
}

.top {
    margin-top: 10vh;
}
  
.item {
    flex: 50%;
}

.title {
    text-align: center !important;
    font-family: "SchoolFont";
    font-size: 40px;
}
  
.question {
    display: inline-block;
    margin-bottom: 16px;
    cursor: pointer;
}
  
.icon {
    margin-right: 12px;
  
}
  
.panel {
    margin-bottom: 24px;
}
  
.answer {
    margin-left: 28px;
}

.description {
    font-size: 20px;
    font-weight: bold;
    max-width: 600px;
    font-family: "SchoolFont";
}