.cta {
    display: flex;
    flex-direction: row;
    @media (max-width: 576px) {
        flex-direction: column;
    }
    gap: 16px;
}

.button:hover{
    transform: scale(1.05);
    transition: 450ms;
    cursor: pointer;
}
