.container {
    display: flex;
    gap: 96px;
    justify-content: center;
    @media (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 64px;
      align-items: center;
    }
}

  
.whitepaper {
    text-align: center;
    font-family: "SchoolFont";
    font-size: 40px;
}
  
.whitepaperImg {
    width: 100vw;
    @media (max-width: 576px) {
      width: 300px;
    }
}

.whitepaperPdf {
  width: 30vw;
  margin-left: 35%;
}
  

.dashboardButton {
  margin-left: 10%;
  margin-right: 40%;
  width: 50%;
}
