.container {
    display: flex;
    justify-content:space-evenly;
    margin-top: 48px;
    gap: 32px;
    width: 100%;
    flex-wrap: nowrap;
    @media (max-width: 576px) {
        flex-wrap: wrap;
    }
}
  
.item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: 576px) {
        width: 50% !important;
    }
}
  
.description {
    font-size: 22px;
    font-weight: bold;
    max-width: 600px;
    text-align: center;
    font-family: "SchoolFont";
}
  
.profilePic {
    margin-bottom: 8px;
    border-radius: 32px;
}

.role {
    color: rgb(96, 98, 123)
}
  