.container {
    display: flex;
    gap: 96px;
    justify-content: center;
    @media (max-width: 576px) {
      flex-direction: column;
      gap: 64px;
      align-items: center;
    }
}
  
.info {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}
  
.pic {
    flex-basis: 60%;
}
  
.description {
    font-size: 20px;
    font-weight: bold;
    max-width: 600px;
    text-align: center;
    font-family: "SchoolFont";
}
  
.cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button:hover{
    transform: scale(1.05);
    transition: 450ms;
    cursor: pointer;
}

